.form-card{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    padding: 20px;
    border-radius: 30px;
}

.form-control{
    border-radius: 30px;
    border: 2px solid black;
}

body{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

html{
    scroll-behavior: smooth;
}

.user-link{
    color: black;
}

.user-link:hover{
    text-decoration: none;
}

.profile-details{
    background-color: white;
    margin-top: 8px;
}

.post, .profile-details, .post-textarea{
    border: 2px solid black;
    border-radius: 30px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    margin-top: 8px;
    width: 50%;
    word-wrap: break-word;
}

.post{
    cursor: pointer;
}

.post-content{
    white-space: pre-wrap;
}

.post-textarea:focus, .post-button:focus{
    outline: none;
}

.post-button, .pagination-button{
    background-color: transparent;
    border: 2px solid black;
    border-radius: 30px;
    width: 100px;
    height: 60px;
    font-weight: bold;
}

.form-card, .form-control:focus, .post-button:hover, .post:hover, .post-textarea:hover, .post-textarea:focus, .pagination-button{
    box-shadow: 0 0 4px gray;
    border: 2px solid black;
}

form, .pagination-button{
    text-align: center;
}

.pagination-button{
    position: relative;
    margin-left: 28%;
}

.icon-button{
    background-color: transparent;
    border: none;
    outline: none;
}

.icon-button:focus{
    outline: none;
}