{% extends "network/layout.html" %}

{% block body %}

{% if user.is_authenticated %}
    <div id="new_post">
        <form method="POST">
            {% csrf_token %}
            <textarea rows="4" cols="100" name="post"></textarea>
            <input type="submit" value="Post">
        </form>
    </div>
{% else %}
    <a href="{% url 'login' %}">Login</a>To create new Post
    Not a member? <a href="{% url 'register' %}">Register</a> here
{% endif %}

    <div id="all_posts">
        <h3>All Posts</h3>
        
        {% for post in posts %}
            <a href="{% url 'visit_profile' post.poster %}">{{post.poster}}</a>
            <h3>{{post.content}}</h3>
            <h3>{{post.timestamp}}</h3>
            <h3>{{post.liked_by.count}}</h3>
        {% endfor %}
            
    </div>
{% endblock %}