{% extends "network/layout.html" %}
{% load static %}

{% block body %}

{% if user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        <textarea name="post" id="post" cols="30" rows="10" placeholder="What's on your mind"></textarea>
        <input type="submit" value="Post">
    </form>
{% endif %}


<!-- {% for post in all_posts  %}
    <a href="{% url 'visit_profile' post.poster.username %}">{{post.poster.username}}</a>
    <h2>{{post.content}}</h2>
    <h3>{{post.timestamp}}</h3>
    <h3>{{post.liked_by.count}}</h3>
{% endfor %} -->

<div id="posts">
    <h2>All Posts</h2>
</div>

{% endblock %}


{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
{% endblock script %}
    