{% extends 'network/layout.html' %}

{% block body %}
    <h1>Welcome to {{ visited_user.username }}'s profile </h1>
    
    <h3>Followers: {{ followers.count }}</h3>
    {% for follower in followers %}
        <h3>{{ follower.follower.username }}</h3>
    {% endfor %}
    <h3>Following: {{ following.count }}</h3>    
    {% for follow in following %}
        <h3>{{ follow.user.username }}</h3>
    {% endfor %}
        
        
    {% if user.is_authenticated %}
        {% if request.user != visited_user %}
            {% if is_following %}
                <a href="{% url 'follow_unfollow' visited_user.username %}">Unfollow</a>
            {% else %}
                <a href="{% url 'follow_unfollow' visited_user.username %}">Follow</a>
            {% endif %}
        {% endif %}
    {% endif %}

    {% for post in posts  %}
        <h3>{{post.poster}}</h3>
        <h3>{{post.content}}</h3>
        <h3>{{post.timestamp}}</h3>
        <h3>{{post.liked_by.count}}</h3>
    {% endfor %}
{% endblock body %}